<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.dzielins42.spellcontentprovider">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name="SpellContentProvider"
            android:authorities="pl.dzielins42.spellcontentprovider.SpellContentProvider"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>
